.sticky_footer {
  background-color: #dcdcdc; /* Color de fondo más oscuro */
  padding: 10px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #555;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 1px solid #ddd;
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.1);
}
