<header>
  <nav class="navbar">
    <ul class="navbar__list">
      <li class="navbar__item"><a class="navbar__link" routerLink="/home">Home</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/plato">Platos</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/delivery">Delivery</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/review">Reseñas</a></li>
      <li class="navbar__item"><a class="navbar__link" routerLink="/users">Usuarios</a></li>
    </ul>
  </nav>
</header>
